name: Generate ruleset

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'custom.txt'

permissions:
  contents: write

env:
  MIHOMO_VERSION: v1.19.20

jobs:
  generate_lists:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
        
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y curl gh
         
      - name: Download and install Mihomo
        run: |
          curl -L https://github.com/MetaCubeX/mihomo/releases/download/${MIHOMO_VERSION}/mihomo-linux-amd64-${MIHOMO_VERSION}.deb -o mihomo.deb
          sudo apt install --fix-missing ./mihomo.deb
        
      - name: Generate .mrs
        run: |
          grep -v '^\s*$' custom.txt | grep -v '^#' > tmp
          mv tmp custom.txt
          echo "payload:" > custom.yaml && cat custom.txt | sed "s/.*/- '+.&'/" >> custom.yaml
          mihomo convert-ruleset domain yaml custom.yaml custom.mrs
          
      - name: Create and upload release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          DATE=$(date +%Y%m%d)

          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            TITLE="[${DATE}] Manual release"
            TAG="v${DATE}-$(date +%H%M%S)"
          else
            TITLE="[${DATE}] Automatic release"
            TAG="v${DATE}-${SHORT_SHA}"
          fi

          gh release create "$TAG" \
            --title "$TITLE" \
            --notes "Ruleset update" \
            --target ${{ github.sha }} \
            custom.mrs
      
      - name: Cleanup
        if: always()
        run: |
          rm -f mihomo.deb custom.yaml
